a {
    text-decoration: none;
    color: black;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    -o-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
}
input {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    border-radius: 0;
}
li {
    list-style: none;
}
body {
    font-family: Arial, "Microsoft YaHei", sans-serif, "Helvetica Neue", Helvetica, Arial;
}
p,
span {
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}

//common
.title_name {
    font-size: 0.3rem;
    color: #211E1D;
    font-weight: 700;
    margin: 0.02rem 0 0.32rem;
    padding-left: 0.08rem;
    &:before {
        width: 0.06rem;
        height: 0.2rem;
        content: '';
        display: inline-block;
        background: #C5092C;
        margin: 0 0.11rem 0 0;
        border-radius: 20px;
    }
}
.order_header {
    margin: 0.02rem 0 0.32rem;
    line-height: 0.4rem;
    .title_name {
        margin: 0;
    }
}
.header {
    width: 100%;
    overflow: hidden;
    padding: 0.25rem;
    box-sizing: border-box;
    border-bottom: 0.2rem solid #EEEEEE;
    font-size: 0.24rem;
    color: #848484;
    .header_content {
        display: flex;
        //      flex-wrap: wrap;
        .img {
            flex-grow: 0;
            display: inline-block;
            width: 0.9rem;
            height: 0.9rem;
            margin: 0 0.25rem 0 0;
            border-radius: 50%;
            border: 1px solid;
        }
        .header_right {
            flex-grow: 1;
            //这里width随便写，不写就会扯拐
            width: 6rem;
            .header_right_name {
                font-size: 0.3rem;
                color: #211E1D;
                font-weight: 700;
                line-height: 0.35rem;
                margin: 0.07rem 0 0.15rem;
            }
        }
    }
    .header_pj {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        line-height: 0.4rem;
        .span {
            color: #C5092C;
        }
    }
    .header_thr {
        margin: 0.67rem 0 0.28rem;
        display: flex;
        justify-content: space-around;
        ul {
            li {
                font-size: 0.26rem;
                color: #211E1D;
                margin-bottom: 0.17rem;
                text-align: center;
            }
            li:nth-child(2) {
                font-size: 0.32rem;
                font-weight: 700;
            }
            li:nth-child(3) {
                font-size: 0.24rem;
                color: #848484;
            }
        }
    }
}
.order {
    padding: 0.25rem;
    border-bottom: 0.2rem solid #EEEEEE;
    .order_header {
        display: flex;
        justify-content: space-between;
        ul {
            display: flex;
            li {
                font-size: 0.24rem;
                color: #848484;
                margin-left: 0.29rem;
            }
            .active {
                color: #C5092C;
                border-bottom: 0.04rem solid #C5092C;
            }
        }
    }
    .order_chart {
        width: 100%;
        height: 5.92rem;
        margin: 0;
    }
}
.merchandise,
.week_list {
    padding: 0.25rem 0 0;
    border-bottom: 0.2rem solid #EEEEEE;
    .title_name {
        padding-left: 0.25rem;
    }
    .content {
        display: flex;
        border-top: 1px solid #E1E1E1;
        ul {
            width: 50%;
            li {
                color: #848484;
                font-size: 0.26rem;
                padding-left: 0.33rem;
                .unit {
                    font-size: 0.24rem;
                    color: #848484;
                }
            }
            li:nth-child(2) {
                font-size: 0.4rem;
                color: #211E1D;
                margin: 0.18rem 0;
                padding-bottom: 0.22rem;
            }
            li:nth-child(1) {
                padding-top: 0.25rem;
            }
        }
        ul:nth-child(2) {
            box-sizing: border-box;
            border-left: 1px solid #E1E1E1;
            li {
                padding-left: 0.34rem;
            }
        }
    }
}
#zfMoneyHeader {
    display: none;
}
.zf_money_header {
    display: flex;
    justify-content: space-between;
    font-size: 0.26rem;
    line-height: 0.4rem;
    margin: 0.02rem 0 0.32rem;
    .title_name {
        margin: 0;
    }
    ul {
        display: flex;
        li {
            margin-right: 0.3rem;
        }
        .active {
            color: #C5092C;
            border-bottom: 0.04rem solid #C5092C;
        }
    }
}
.zf_money {
    ul {
        display: flex;
        li {
            box-sizing: border-box;
            font-size: 0.26rem;
            color: #848484;
            width: 33.3%;
            border-right: 1px solid #E1E1E1;
            border-bottom: 1px solid #E1E1E1;
            padding: 0.3rem 0.2rem;
        }
        li:nth-child(3) {
            border-right: none;
        }
    }
    .zf_money_top {
        border-top: 1px solid #E1E1E1;
        li {
            color: #211E1D;
            font-size: 0.3rem;
            font-weight: 700;
        }

    }
}
.week_list {
    display: none;
}
.notice {
    text-align: center;
    color: red;
    padding: 0.2rem;
    font-size: .24rem;
}
