<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>溯源产品线产品内部发布系统</title>
		#include("./layout/link.html")
	</head>
	<body>
		<!--<ul class="right_nav">
			<li>追溯平台</li>
			<li>流通环节</li>
			<li>消费环节</li>
		</ul>-->
		<header class="header">
			<div class="header_text_1">溯源产品线产品内部发布系统</div>
			<div  class="header_text_2">简洁、直观、强悍的系统入口，让产品更简单、更高效</div>
			<div  class="header_text_3">溯源产品线团队</div>
		</header>
		<section class="section">
			<div class="section_auto">
				<!--追溯-->
				<div class="ascend_a_circulate_h">
					<div class="ascend_a_circulate_h_1">追溯平台</div>
					<div class="ascend_a_circulate_h_2">食为天，溯为安</div>
				</div>
				<div class="ascend">
					<div class="ascend_contetn">
						<div class="ascend_contetn_hader">
							<img class="ascend_contetn_h_i" src="../lib/imgs/logo_zycp.png" alt="" />
							<div class="ascend_contetn_h_t">临沂重要产品追溯管理平台</div>
						</div>
						<div class="ascend_contetn_content">
							<div class="ascend_contetn_c_1">临沂重要产品</div>
							<div class="ascend_contetn_c_2">追溯千万里，流通零距离</div>
							<ul class="ascend_contetn_c_3">
								<li class="color_1">流通节点</li>
								<li class="color_2">追溯子系统</li>
								<li class="color_3">大数据</li>
								<li class="color_4">监管平台</li>
							</ul>
						</div>
						<div class="ascend_contetn_footer">
							<div class="ascend_contetn_footer_1">
								搭建全品类跨城市的重要产品追溯管理平台，兼容现有追溯体系。
							</div>
							<a target="_blank"  href="http://a.lyrczs.gov.cn/city/" class="look_button">查看</a>
						</div>
					</div>
					<div class="ascend_contetn">
						<div class="ascend_contetn_hader ytzycpzs">
							<img class="ascend_contetn_h_i" src="../lib/imgs/logo_zycp.png" alt="" />
							<div class="ascend_contetn_h_t ">烟台重要产品追溯管理平台</div>
						</div>
						<div class="ascend_contetn_content">
							<div class="ascend_contetn_c_1">烟台重要产品</div>
							<div class="ascend_contetn_c_2">追溯千万里，流通零距离</div>
							<ul class="ascend_contetn_c_3">
								<li class="color_5">流通节点</li>
								<li class="color_6">追溯子系统</li>
								<li class="color_7">大数据</li>
								<li class="color_8">监管平台</li>
							</ul>
						</div>
						<div class="ascend_contetn_footer">
							<div class="ascend_contetn_footer_1">
								搭建全品类跨城市的重要产品追溯管理平台，兼容现有追溯体系。
							</div>
							<a target="_blank"  href="http://ytltzs.cn/city/" class="look_button">查看</a>
						</div>
					</div>
					<div class="ascend_contetn">
						<div class="ascend_contetn_hader rczycpzs ">
							<img class="ascend_contetn_h_i" src="../lib/imgs/logo_rczs.png" alt="" />
							<div class="ascend_contetn_h_t">肉菜流通追溯管理平台</div>
						</div>
						<div class="ascend_contetn_content rczycpzs">
							<div class="ascend_contetn_c_1">肉菜追溯</div>
							<div class="ascend_contetn_c_2">追溯千万里，流通零距离</div>
							<ul class="ascend_contetn_c_3">
								<li class="color_9">流通节点</li>
								<li class="color_10">追溯子系统</li>
								<li class="color_11">大数据</li>
								<li class="color_12">监管平台</li>
							</ul>
						</div>
						<div class="ascend_contetn_footer">
							<div class="ascend_contetn_footer_1">
								汇集各流通节点追溯子系统信息，形成数据统计分析的监管平台。汇集各流通节点追溯子系统信息，形成数据统计分析的监管平台。
							</div>
							<a target="_blank"  href="http://47.94.214.152:8080/rcsypt/login" class="look_button">查看</a>
						</div>
					</div>
				</div>
				<!--流通-->
				<div class="ascend_a_circulate_h">
					<div class="ascend_a_circulate_h_1">流通环节</div>
					<div class="ascend_a_circulate_h_2">食为天，溯为安</div>
				</div>
				<div class="circulate">
					<div class="circulate_content">
						<div class="circulate_content_header">
							<span class="circulate_content_header_f">
								<!--<img src="../lib/imgs/icon_yshmj.png" alt="" />-->
								<span class="circulate_content_header_n">源生汇</span>
							</span>
						</div>
						<div class="circulate_content_content">
							<div class="circulate_content_c_h">源生汇卖家中心</div>
							<div class="circulate_content_c_t">商家管理平台，包含客户管理，商品管理，订单管理，查询统计分析等多种功能。</div>
							<a target="_blank"  href="http://www.yshfresh.com/" class="look_button">查看</a>
						</div>
					</div>
					<div class="circulate_content">
						<div class="circulate_content_header znfj">
							<span class="circulate_content_header_f">
								<!--<img src="../lib/imgs/icon_znfj.png" alt="" />-->
								<span class="circulate_content_header_n">智能分拣</span>
							</span>
						</div>
						<div class="circulate_content_content">
							<div class="circulate_content_c_h">智能分拣系统</div>
							<div class="circulate_content_c_t">
								分拣信息系统加一体化智能硬件，适用于分拣配送和到货确认环节的整体解决方案。
							</div>
							<a target="_blank"  href="http://sorting.yshfresh.com" class="look_button">查看</a>
						</div>
					</div>
					<div class="circulate_content ysh_cord">
						<div class="circulate_content_header ysh">
							<span class="circulate_content_header_f">
								<!--<img src="../lib/imgs/icon_yshcg.png" alt="" />-->
								<span class="circulate_content_header_n">源生汇</span>
							</span>
						</div>
						<div class="erweima">
							<img src="../lib/imgs/erwei.png" alt="二维码" />
							<p>请扫码查看</p>
						</div>
						<div class="circulate_content_content">
							<div class="circulate_content_c_h">源生汇团体采购商城</div>
							<div class="circulate_content_c_t">基于微信公众号的一站式采购平台。</div>
							<a target="_blank"  href="javascript:;" class="look_button">扫码</a>
						</div>
					</div>
					<div class="circulate_content">
						<div class="circulate_content_header jzy">
							<span class="circulate_content_header_f">
								<!--<img src="../lib/imgs/icon_jzy.png" alt="" />-->
								<span class="circulate_content_header_n">进销存</span>
							</span>
						</div>
						<div class="circulate_content_content">
							<div class="circulate_content_c_h">生鲜进销存管理系统</div>
							<div class="circulate_content_c_t">对企业生产经营中采购、销售和仓储进行全程进行跟踪和管理。</div>
							<a target="_blank"  href="http://erp.yshfresh.com/" class="look_button">查看</a>
						</div>
					</div>
					<div class="circulate_content">
						<div class="circulate_content_header tzc">
							<span class="circulate_content_header_f">
								<!--<img src="../lib/imgs/icon_tzc.png" alt="" />-->
								<span class="circulate_content_header_n">屠宰场</span>
							</span>
						</div>
						<div class="circulate_content_content">
							<div class="circulate_content_c_h">屠宰场追溯及管理系统</div>
							<div class="circulate_content_c_t">覆盖生猪进厂、屠宰、检疫、检验及出厂等关键环节，满足企业管理需求及追溯监管需求。</div>
							<a target="_blank"  href="http://47.94.72.82/#/" class="look_button">查看</a>
						</div>
					</div>
					<div class="circulate_content">
						<div class="circulate_content_header pfsc">
							<span class="circulate_content_header_f">
								<!--<img src="../lib/imgs/icon_pfsc.png" alt="" />-->
								<span class="circulate_content_header_n">批发市场</span>
							</span>
						</div>
						<div class="circulate_content_content">
							<div class="circulate_content_c_h">批发市场追溯及管理系统</div>
							<div class="circulate_content_c_t">覆盖蔬菜进场登记、农残检测及交易等关键环节的全程信息管理，达到追溯管理需求。</div>
							<a target="_blank"  href="http://47.94.72.81/" class="look_button">查看</a>
						</div>
					</div>
					<div class="circulate_content">
						<div class="circulate_content_header zxt">
							<span class="circulate_content_header_f">
								<!--<img src="../lib/imgs/icon_mtzxt.png" alt="" />-->
								<span class="circulate_content_header_n">种植系统</span>
							</span>
						</div>
						<div class="circulate_content_content">
							<div class="circulate_content_c_h">农业种植管理系统</div>
							<div class="circulate_content_c_t">围绕蜜桃种植生产管理特点，对种植过程信息进行采集和管理，从而实现对蜜桃种植全过程。</div>
							<a target="_blank"  href="http://47.94.214.152:8080/farm/" class="look_button">查看</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--消费-->
		<div class="consume">
			<div class="consume_content">
				<div class="consume_content_l">
					<div class="consume_content_l_h">
						消费环节
					</div>
					<div class="consume_content_l_c">
						农贸市场智能解决方案，电子标牌用于展示进场商品列表，显示溯源信息。对于零售需求的用户，该设备还支持与电子秤连接，获取电子秤交易数据，并集成了微信支付和市民卡支付功能
					</div>
					<img src="../lib/imgs/img_img.png" alt="" />
				</div>
				<div class="consume_content_r">
					<div class="consume_content_r_ch">
						<img class="consume_content_r_ch_h" src="../lib/imgs/img-shebei.png" alt="" />
						<div class="consume_content_r_ch_c">
							我们的重要产品设备
						</div>
						<div class="consume_content_r_ch_f">
							电子标牌用于展示进场商品列表，显示溯源信息
						</div>
					</div>
					<div class="consume_content_r_ch">
						<img class="consume_content_r_ch_h" src="../lib/imgs/img_dzc.png" alt="" />
						<div class="consume_content_r_ch_c">
							设备支持
						</div>
						<div class="consume_content_r_ch_f">
							电子标牌用于展示进场商品列表，显示溯源信息
						</div>
					</div>
					<div class="consume_content_r_ch">
						<img class="consume_content_r_ch_h" src="../static/lib/imgs/img_zffs.png" alt="" />
						<div class="consume_content_r_ch_c">
							设备支付方式
						</div>
						<div class="consume_content_r_ch_f">
							电子标牌用于展示进场商品列表，显示溯源信息
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer">
			版权所有&copy;成都九洲电子信息系统股份有限公司
		</footer>
		#include("./layout/script.html")
	</body>
</html>
